In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import socceraction.spadl.utils as spu

In [2]:
# df = pd.read_csv("../data/event_data_latest_2425.csv")
df = pd.read_csv("../../soccer_analysis/data/event_data_latest_2425_2.csv")

In [3]:
df = spu.add_names(df)

In [5]:
sub_df = df[df["game_id"] == 1821245]

In [6]:
sub_df["player"].unique()

array(['Curtis Jones', 'Caoimhín Kelleher', 'Cody Gakpo',
       'Alexis Mac Allister', 'Andy Robertson', 'Virgil van Dijk',
       'Nick Pope', 'Fabian Schär', 'Tino Livramento', 'Bruno Guimarães',
       'Jacob Murphy', 'Joelinton', 'Anthony Gordon', 'Sandro Tonali',
       'Lewis Hall', 'Joe Gomez', 'Ryan Gravenberch', 'Alexander Isak',
       'Jarell Quansah', 'Mohamed Salah', 'Darwin Núñez', 'Dan Burn',
       'Luis Díaz', 'Trent Alexander-Arnold', 'Dominik Szoboszlai',
       'Harvey Barnes', 'Sean Longstaff', 'Joe Willock', 'Callum Wilson'],
      dtype=object)

In [7]:
sub_df.columns

Index(['Unnamed: 0', 'game_id', 'original_event_id', 'period_id',
       'time_seconds', 'team_id', 'player_id', 'start_x', 'end_x', 'start_y',
       'end_y', 'type_id', 'result_id', 'bodypart_id', 'action_id', 'player',
       'team', 'type_name', 'result_name', 'bodypart_name'],
      dtype='object')

In [10]:
sub_df.columns

Index(['Unnamed: 0', 'game_id', 'original_event_id', 'period_id',
       'time_seconds', 'team_id', 'player_id', 'start_x', 'end_x', 'start_y',
       'end_y', 'type_id', 'result_id', 'bodypart_id', 'action_id', 'player',
       'team', 'type_name', 'result_name', 'bodypart_name'],
      dtype='object')

In [13]:
sub_df["type_name"].unique()

array(['pass', 'dribble', 'keeper_pick_up', 'tackle', 'throw_in',
       'take_on', 'shot', 'keeper_save', 'corner_crossed', 'clearance',
       'goalkick', 'bad_touch', 'interception', 'foul', 'freekick_short',
       'freekick_crossed', 'keeper_claim', 'corner_short', 'cross',
       'shot_freekick'], dtype=object)

In [12]:
sub_df[sub_df["type_name"] == "shot"][["player", "result_name", "action_id"]]

                     player result_name  action_id
221870        Sandro Tonali        fail         30
221874           Lewis Hall        fail         34
222125        Mohamed Salah        fail        285
222127  Alexis Mac Allister        fail        287
222136  Alexis Mac Allister        fail        296
222258         Jacob Murphy        fail        418
222270      Bruno Guimarães        fail        430
222318           Cody Gakpo        fail        478
222321         Darwin Núñez        fail        481
222524       Alexander Isak     success        684
222577       Anthony Gordon        fail        737
222593         Jacob Murphy        fail        753
222637            Joelinton        fail        797
222648            Joelinton        fail        808
222821         Curtis Jones     success        981
222873           Cody Gakpo        fail       1033
222972       Anthony Gordon        fail       1132
223012       Anthony Gordon        fail       1172
223032       Anthony Gordon     success       1192
223044         Curtis Jones        fail       1204
223053         Darwin Núñez        fail       1213
223101        Mohamed Salah     success       1261
223129            Joelinton        fail       1289
223155         Jacob Murphy        fail       1315
223163         Curtis Jones        fail       1323
223260       Anthony Gordon        fail       1420
223280            Luis Díaz        fail       1440
223282         Darwin Núñez        fail       1442
223320        Mohamed Salah        fail       1480
223359        Mohamed Salah     success       1519
223440         Fabian Schär     success       1600
223479  Alexis Mac Allister        fail       1639

In [21]:
sub_df[sub_df["type_name"] == "dribble"]["player"]

221845           Virgil van Dijk
221848                 Nick Pope
221851           Tino Livramento
221856           Bruno Guimarães
221859            Andy Robertson
                   ...
223493    Trent Alexander-Arnold
223498             Callum Wilson
223508                 Luis Díaz
223511       Alexis Mac Allister
223516                 Nick Pope
Name: player, Length: 440, dtype: object